.user-card{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 40px 1px rgba(132,160,127,0.25);
    border-radius: 1.25rem;
    gap: 2rem;

}

.user_card__data{
    display: flex;
    gap: .5rem;
    align-items: flex-start;
}

.user_card__data__weight{
    font-size: 1.5rem;
    font-weight: 400;
}

.user_card__data__description{
    font-weight: 200;
    font-size: 1rem;
    margin-top: .55rem;
}

.user_card__progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.user_card__progress__data__label{
    font-size: 1rem;
    font-weight: 200;
}

.user_card__progress__data__sub-labels{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_card__progress__data__sub-labels p{
    font-size: 1rem;
    font-weight: 100;
}